version: "3.8"

services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      - POSTGRES_DB: nodewave
      - POSTGRES_USER: dika
      - POSTGRES_PASSWORD: rahasia
    ports:
      -"5432:5432"
    volumes:
      -postgres_data:/var/lib/postgresql/data
  
  redis:
    image: redis:7
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
  
  backend:
    build:
    restart: always
    ports:
      - "4000:4000"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    volumes:
      - .:/app
      - /app/node_modules
  
  worker:
    build:
    restart: always
    command: ["npm", "run", "worker"]
    env_file:
      - .env
    depends_on:
      - backend
      - redis
      - postgres
volumes:
  postgres_data
  redis_data